{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your password is:  </h1>
    <h2 class = "password">{{ password }} </h2>
    <a href="/">Go back</a>
    <a href="password">Make new password</a>
{% endblock %}