<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Password Maker
            {% endblock %}
        </title>
        <style>
            body{
                background-color: #5eb5e0;
            }
            h1,h2,h4{
                text-align: center;
                font-family: Arial, serif;
            }
            h1{
                font-size: 70px;
            }
            .password{
                font-weight: bold;
                font-size: 60px;
                font-family: Arial, serif;
                text-align: center;
            }
            .message{
                font-weight: bold;
                font-size: 60px;
                font-family: Arial, serif;
            }


        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <h1>Password Maker</h1>
        {% endblock %}
    </body>
</html>
