{% extends 'base.html.twig' %}
{% block body %}
    <h1 class= "title">Welcome to password maker</h1>
    <h4>Created by Kane Menicou</h4>
    <a href="password">Click Here to generate password</a>
{% endblock %}
